{
    "presets": [
      [
        "@babel/preset-env",
        { "targets": { "browsers": [">0.25%", "not dead"] }}
      ],
      "@babel/preset-react",
      "babel-preset-gatsby",
    ],
    "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      "@babel/plugin-proposal-class-properties"
    ]
  }